.bulletCard{
  z-index:1;
  /*height:225px;*/
  position:relative;
  border-radius:10px;
  background-color:#fff;
  box-shadow:0 7px 14px rgba(50,50,93,.1);
  transition:box-shadow 0.75s ease-in-out 0.75s;
}