.walletProvider{
	max-width:42px;
	width:42px;
	height:42px;
	border-radius:50%;
	padding:5px;
	background:rgba(255,255,255,0.9);
	margin-left:5px;
}
.walletProvider:hover{
	background:rgba(255,255,255,1);
}