.walletProvider{
	max-width:45px;
	width:45px;
	height:45px;
	border-radius:50%;
	padding:5px;
	background:rgba(255,255,255,0.2);
	margin-left:5px;
}
.walletProvider:hover{
	background:rgba(255,255,255,0.3);
}