.gradientButton{
	padding:0 100px;
	border-radius: 48px !important;
	background: -moz-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%) !important;
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,230,255,1)), color-stop(100%, rgba(0,111,255,1))) !important;
	background: -webkit-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%) !important;
	background: -o-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%) !important;
	background: -ms-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%) !important;
	background: linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e6ff', endColorstr='#006fff', GradientType=1 ) !important;
}
.gradientButton:before{
  display:none !important;
}