.referralCodeContainer{
  border:1px dashed #0036ff !important;
  background:rgba(0, 54, 255, 0.1) !important;
  cursor:pointer !important;
  height:40px !important;
  width:auto;
  min-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover{
    background:rgba(0, 54, 255, 0.2) !important;
  }
}