.headerContainer {
	// background: linear-gradient(120deg, #f6d365 0%, #ea0d73 100%);
	background-size: 100%;
	line-height: 1.2;
	min-height: 100vh;
	text-align: center;
}

.title {
	text-align:center;
}
.subtitle {
	font-weight:400;
	text-align:center;
}
