.mainViewport{
  background: rgb(5,109,230);
  background: linear-gradient(90deg, rgba(5,109,230,1) 0%, rgba(6,103,216,1) 50%, rgba(6,110,233,1) 100%);
}
.headerContainer {
  color:#fff;
  line-height: 1.2;
  min-height: 100vh;
  position:relative;
  background:url(/images/header.jpg) no-repeat center bottom;
  background-size:100% auto;
}
.bgContainer{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
.button{
  text-transform:uppercase;
  text-align:center;
  outline:none;
  font-weight:500;
  border-radius: 3em !important;
}
.graySection{
  background-color:#f7f7f7;
}
.whiteSection{
  background-color:#ffffff;
}
.howItWork{
  color:#000;
  background-color:#f7f7f7;
  border-radius:10px;
  padding:32px;
}
.skewBg{
  position:absolute;
  width:50%;
  height:100%;
  top:10%;
  right:0;
  background:#f4fcf8;
  transform: skewY(-15deg);
  z-index:0;
}
.bgHeart{
  /*transform:rotate(15deg);*/
  opacity:0.5;
  background-image:url(/images/heart.png);
  background-position:right 16%;
  background-repeat:no-repeat;
  background-size:25%;
  z-index:0;
}
.platformLogo{
  /*display:block;*/
  height:35px;
  width:35px;
  vertical-align:bottom;
  /*margin:0 auto 10px auto;*/
}
.bulletCard{
  z-index:1;
  /*height:225px;*/
  position:relative;
  border-radius:10px;
  background-color:#fff;
  box-shadow:0 7px 14px rgba(50,50,93,.1);
  transition:box-shadow 0.75s ease-in-out 0.75s;
}
.bulletCardFirst{
  transition-delay:0s !important;
}
.bulletCardActive{
  box-shadow:0px 0px 16px 2px rgba(0,54,255,0.3);
}
.bulletPoint{
  width:30px;
  height:30px;
  margin-top:2px;
  border-radius:100%;
  text-align:center !important;
  z-index:10;
}
.bulletPoint.bulletRight{
  top: -25px;
  right: -15px;
  border-left-width: 15px;
  border-style: solid;
  border-color:#0036ff;
}
.bulletPoint.bulletTop{
  top: -17px;
  right: -23px;
  border-width:0;
  border-bottom-width: 15px;
  border-style: solid;
  border-color:#0036ff;
}
.bulletPoint.bulletLeft{
  top: -25px;
  left: -15px;
  border-right-width: 15px;
  border-style: solid;
  border-color:#0036ff;
}
.bulletPoint.bulletBottom{
  bottom: -15px;
  right: -23px;
  border-width:0;
  border-top-width: 15px;
  border-style: solid;
  border-color:#0036ff;
}
.bulletPoint.bulletBottomLeft{
  bottom: -15px;
  left: -23px;
  border-top-width: 15px;
  border-style: solid;
  border-color:#0036ff;
}
.bulletPoint.bulletBottomBottom{
  bottom:-22px;
  top:initial;
  left: -15px;
  border-right-width: 15px;
  border-style: solid;
  border-color:#0036ff;
}
.bulletPoint.bulletBottomBottom.bulletMobile{
  top: -15px;
  right: -19px;
  left: initial;
  border-bottom-width: 15px;
  border-style: solid;
  border-color:#0036ff;
  border-right: 0;
}
.bulletPoint.bulletLeft.bulletMobile{
  top: -15px;
  left: -20px;
  border-bottom-width: 15px;
  border-style: solid;
  border-color:#0036ff;
  border-right: 0;
}
.bulletPoint.bulletBottom.bulletMobile{
  bottom: -15px;
  right: -23px;
  border-top-width: 15px;
  border-style: solid;
  border-color:#0036ff;
  border-left: 0;
}
/*
.bulletPoint:before{
  content: "";
  position: absolute;
  width: 25px;
  height: 1px;
  top: 50%;
  background: #eee;
  z-index:-1;
}
.bulletPoint.bulletRight:before{
  left: -21px;
}
.bulletPoint.bulletLeft:before{
  right: -21px;
}
*/
.carouselItem{
  position:absolute;
  width:200px;
  height:200px;
  border-radius:10px;
  background: rgba(255,255,255,1);
  transition: all 0.3s ease-in-out;
  cursor:pointer;
}
.carouselItem:not(.pos1):hover{
  box-shadow:0px 2px 7px rgba(0, 0, 0, 0.3)
}
.carouselItemMobile{
  position:relative;
}
.carouselItem.pos1{
  right:240px;
  top:100px;
  width:250px;
  height:250px;
}
.carouselItem.pos2{
  right:0;
  top:0;
}
.carouselItem.pos3{
  right:0;
  top:250px;
}
.carouselItem img{
  width:auto;
  height:70px;
  transition: all 0.3s ease-in-out;
}
.carouselItem.pos1 img{
  width:auto;
  height:120px;
}
.bentTube:before,
.bentTube:after{
  position: absolute;
  content: "";
}

@-moz-keyframes bounce { 100% { -moz-transform: translateY(8px); } }
@-webkit-keyframes bounce { 100% { -webkit-transform: translateY(8px); } }
@keyframes bounce { 100% { -webkit-transform: translateY(8px); transform:translateY(8px); } }

.bounceArrow{
  -webkit-animation:bounce .5s ease-in-out infinite alternate;
  -moz-animation:bounce .5s ease-in-out infinite alternate;
  animation:bounce .5s ease-in-out infinite alternate;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rebalanceCircle{
  background:url(/images/rebalance.png) no-repeat center center #fff;
  background-size:73%;

  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
.carouselDesc{
  /*opacity:0.3;
  transition: opacity 0.3s ease-in-out;*/
  position: absolute;
  opacity: 0;
  transition: all 0.25s linear;
  transform: translateY(50px);
}
.carouselDesc.selected{
  /*opacity:1;*/
  position: relative;
  opacity: 1;
  display: block;
  transform: translateY(0);
}
.carouselNav{
  display:inline-block;
  width:20px;
  height:20px;
  margin:0 10px;
  border-radius:50%;
  background-color:#d8d8d8;
}
.carouselNav.selected{
  background-color:#0036ff;
}
.footer{
  background:url(/images/bg-footer.png) no-repeat center top;
  background-size:cover;
  height:450px;
}
.socialIcon{
  background: -moz-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,230,255,1)), color-stop(100%, rgba(0,111,255,1)));
  background: -webkit-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%);
  background: -o-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%);
  background: linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e6ff', endColorstr='#006fff', GradientType=1 );
  border-radius:5px;
  padding:7px;
}
.gradientBackground{
  background: rgba(6,102,216,0.2);
  background: -moz-linear-gradient(left, rgba(6,102,216,0.2) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 90%, rgba(6,102,216,0.2) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(6,102,216,0.2)), color-stop(35%, rgba(255,255,255,1)), color-stop(90%, rgba(255,255,255,1)), color-stop(100%, rgba(6,102,216,0.2)));
  background: -webkit-linear-gradient(left, rgba(6,102,216,0.2) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 90%, rgba(6,102,216,0.2) 100%);
  background: -o-linear-gradient(left, rgba(6,102,216,0.2) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 90%, rgba(6,102,216,0.2) 100%);
  background: -ms-linear-gradient(left, rgba(6,102,216,0.2) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 90%, rgba(6,102,216,0.2) 100%);
  background: linear-gradient(to right, rgba(6,102,216,0.2) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 90%, rgba(6,102,216,0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4ebfe', endColorstr='#e4ebfe', GradientType=1 );
}
@media (min-width: 32em) {
  .bentTube:before{
    top: -15px;
    width: 0%;
    height: 15px;
    border-radius: 0 0 0 0;
    background: rgba(2, 55, 250, 0.6);
    z-index: 0;
    transition: border-radius .37s ease-in-out .37s,width .75s ease-out, height .75s ease-out 0.5s;
    left: 0;
  }
  .bentTube:after{
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0 37px 0 0;
    background: #fff;
    z-index: 1;
  }
  .bentTubeLeft:before{
    right: 0;
    left: initial;
  }
  .bentTubeLeft:after{
    border-radius: 37px 0 0 0;
  }
  .bentTubeRight.bentTubeActive:before{
    border-radius: 0 50px 0 0;
    width: 106%;
    height: 106%;
  }
  .bentTubeLeft.bentTubeActive:before{
    border-radius: 50px 0 0 0;
    width: 106%;
    height: 106%;
  }
}
@media (max-width: 31em) {
  .headerContainer {
    min-height: 101% !important;
    background-size:auto 100% !important;
    background-position:center 20% !important;
  }
  .bentTube:before{
    position: absolute;
    content: "";
    top: 12px;
    height: 0;
    width: 10px;
    right: -10px;
    transition: height .75s ease-out;
    background: rgba(2, 55, 250, 0.6);
  }
  .bentTube.bentTubeActive:before{
    height: 95px;
  }
  .bulletPoint.bulletTop{
    right: -20px;
  }
  .bulletPoint.bulletBottom{
    right: -20px;
  }
  .bg1 {
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
  }
}