.headerContainer {
	background-size: 100%;
	line-height: 1.2;
	min-height: 100vh;
	background-color:#0030e0;
	color:#fff;
}
.title {
	line-height:1.1em;
	margin-bottom:0.5em;
}
.subtitle {
	font-weight:400;
	line-height:2em;
}
.button{
	text-transform:uppercase;
	text-align:center;
	color:white;
	outline:none;
	font-weight:300;
}
.graySection{
	background-color:#f7f7f7;
}
.whiteSection{
	background-color:#ffffff;
}