.footer{
  background-image:url(/images/footer.png) !important;
  background-repeat: no-repeat;
  background-position: center 100px;
  background-size:100% auto;
  height:70vh;
  min-height:460px;
}
@media (max-width: 31em) {
  .footer{
    height:auto!important;
    background-position: center bottom !important;
    background-size:cover !important;
  }
}