.footer{
  background:url(/images/bg-footer.png) no-repeat center top;
  background-size:cover;
  height:450px;
}
.socialIcon{
  background: -moz-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,230,255,1)), color-stop(100%, rgba(0,111,255,1)));
  background: -webkit-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%);
  background: -o-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%);
  background: linear-gradient(45deg, rgba(0,230,255,1) 0%, rgba(0,111,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e6ff', endColorstr='#006fff', GradientType=1 );
  border-radius:5px;
  padding:7px;
}
@media (max-width: 31em) {
  .footer{
    height:auto;
  }
}