.balanceButton{
  opacity:1;
  padding: 7px 8px;
  border-radius:12px;
  background: radial-gradient(174.47% 188.91% at 1.84% 0%, rgb(11, 82, 180) 0%, rgb(149, 189, 246) 100%), rgb(255, 238, 242);
  /*background: radial-gradient(174.47% 188.91% at 1.84% 0%, rgb(255, 0, 122) 0%, rgb(33, 114, 229) 100%), rgb(237, 238, 242);*/
}
.balanceButton:hover{
  opacity:0.8;
}